html
    head
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet")
        link(rel="stylesheet" href="/public/index.css")
        title Hello, My Little Project
        script(src="https://static.nid.naver.com/js/naverLogin_implicit-1.0.3.js" charset="utf-8")
        script(src="https://code.jquery.com/jquery-1.11.3.min.js")
        script(src="https://developers.kakao.com/sdk/js/kakao.js")
    body
        block contents
        script.
            window.APP_CONFIG = JSON.parse("!{APP_CONFIG_JSON}")
        script(src="/public/toast.js")
        block scripts
