extends base.pug

block contents
    a(href="/logout") 로그아웃
    each post in posts
        div= post.user.nickname || post.user.email
        div= post.content
        form(method="POST" action=`/posts/${post.id}/delete`)
            button.rounded.bg-gray-400 삭제하기

    form(method="POST" action="/posts")
        input(name="content")
        button.rounded.bg-blue-500 올리기
