extends base.pug

block contents
    div.p-8.mt-8
        h1.text-2xl.font-bold.text-center 비밀번호 초기화
        div.mt-12.text-gray-600.text-center 비밀번호를 잊으셨다면 이메일을 통해 비밀번호를 초기화할 수 있습니다.
        form.flex.flex-col.mt-4.space-y-2(method="POST" action="/request-reset-password")
            input.rounded.border.border-gray-200.p-2(name="email" type="email" placeholder="이메일")
            input.rounded.border.border-gray-200.p-2(name="password" type="password" placeholder="새 비밀번호")
            button.primary-btn.red-btn 비밀번호 초기화 요청 메일 보내기
